// 音乐播放插件
@media (max-width: $MQNarrow)
  .aplayer
    display none

.aplayer-body
  background: var(--background-color) !important
  .aplayer-info
    border-top: none    !important

.aplayer-title
  color: var(--text-color)
 .aplayer-list-title
  color: black

// 子侧边栏
// 如何在博客模块不禁用子侧边栏
@media (max-width: $MQNarrow)
 .page
   padding-right 0rem   !important
   .sub-sidebar-wrapper
     display none
    